
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
        
        .sticky-icon {
            z-index: 1;
            position: fixed;
            top: 30%;
            left: 0;
            width: 220px;
            display: flex;
            flex-direction: column;
        }  
        
        .sticky-icon a {
            transform: translate(-170px, 0px);
            border-radius: 0 50px 50px 0;
            text-align: right;
            margin: 2px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
            transition: all 0.8s;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        .sticky-icon a:hover {
            color: #FFF;
            transform: translate(0px, 0px);
        }	
        
        .sticky-icon a:hover .icon-wrapper {
            transform: rotate(360deg);
        }
        
        /* Facebook */
        .Facebook {
            background-color: #1877F2;
            color: #FFF;
        }
        
        /* YouTube */
        .Youtube {
            background-color: #FF0000;
            color: #FFF;
        }
        
        /* X (Twitter) */
        .Twitter {
            background-color: #000000;
            color: #FFF;
        }
        
        /* Instagram */
        .Instagram {
            background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
            color: #FFF;
        }
        
        /* Google */
        .Google {
            background-color: #409e0a;
            color: #FFF;
        }
        
        .icon-wrapper {
            background-color: #FFF;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            margin-left: 15px;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .sticky-icon a i {
            font-size: 18px;
        }
        
        .sticky-icon a .fa-facebook-f {
            color: #1877F2;
        }
        
        .sticky-icon a .fa-google {
            color: #4285F4;
        }
        
        .sticky-icon a .fa-instagram {
            color: #E1306C;
        }
        
        .sticky-icon a .fa-youtube {
            color: #FF0000;
        }
        
        .x-icon {
            width: 18px;
            height: 18px;
            fill: #000000;
        }
    </style>
</head>
<body>
    <!-- Sticky Social Icons -->
    <div class="sticky-icon">
       <a href="https://www.instagram.com/" class="Instagram">Instagram <div class="icon-wrapper"><i class="fab fa-instagram"></i></div></a>
       <a href="https://www.facebook.com/" class="Facebook">Facebook <div class="icon-wrapper"><i class="fab fa-facebook-f"></i></div></a>
       <a href="https://www.google.com/" class="Google">Google <div class="icon-wrapper"><i class="fab fa-google"></i></div></a>
       <a href="https://www.youtube.com/" class="Youtube">YouTube <div class="icon-wrapper"><i class="fab fa-youtube"></i></div></a>
       <a href="https://twitter.com/" class="Twitter">Twitter-X <div class="icon-wrapper">
           <svg class="x-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
               <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
           </svg>
       </div></a>   
    </div>
</body>
